"""
Create on ${DATE}
----------
@summary:
----------
@author:
"""
import palp


class ${SPIDER_NAME}JumpSpider(palp.JumpSpider):

    def start_requests(self) -> None:
        """
        起始函数

        :return:
        """

    def parse(self, request, response) -> None:
        """
        解析函数

        :param request:
        :param response:
        :return:
        """
