"""
Create on ${DATE}
----------
@summary:
----------
@author:
"""
import palp


class ${SPIDER_NAME}DistributiveSpider(palp.DistributiveSpider):
    spider_name = "${SPIDER_NAME_LOWER}"  # 自定义的名字
    spider_domains = []  # 允许通过的域名，默认不限制
    spider_settings = None  # 字典形式或导入形式的设置

    def start_requests(self) -> None:
        """
        起始函数

        :return:
        """
        yield palp.RequestGet("https://www.baidu.com")

    def parse(self, request, response) -> None:
        """
        解析函数

        :param request:
        :param response:
        :return:
        """
        print(response.text)
        print(response)


if __name__ == '__main__':
    ${SPIDER_NAME}DistributiveSpider().start()
